
.square {
  border: 1px solid grey;
  background-color: lightblue;
  float: left;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  width: 80px;
  line-height: 80px;
  height: 80px;
    
 }
 .square:active {
  background-color: lightcyan;
 
 }
 
 
 /* Board */
.board-row:after {
  clear: both;
  content: "";
  display: table;
 }
 /* Game */
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
 }
 /* Game Info */
ul {
  padding-left: 30px;
 }
 .game-info {
  margin-left: 20px;
 }
 .status {
  margin-bottom: 10px;
 }
 